.parent {
  padding-top: 200px;
  padding-left: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.child {
  width: 100px;
  height: 100px;
}

.child-1 {
  background-color: rgb(225, 89, 89);
}

.child-2 {
  background-color: rgb(83, 105, 196);
  position: absolute;
  top: 260px;
  right: 750px;
  z-index: 1;
}

.child-3 {
  background-color: rgb(125, 227, 125);
  position: absolute;
  top: 330px;
  right: 680px;
}
